<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.DrugInfoMapper">
    <resultMap type="DrugInfo" id="DrugInfoResult">
        <result property="id"    column="id"    />
        <result property="drugNumber"    column="drug_number"    />
        <result property="timeRemaining"    column="time_remaining"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="classifyId"    column="classify_id"    />
        <result property="warehouseStatus"    column="warehouse_status"    />
        <result property="drugStatus"    column="drug_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>
    <resultMap type="com.joolun.mall.vo.DrugInfoVo" id="DrugInfoVoResult">
        <result property="id"    column="id"    />
        <result property="drugNumber"    column="drug_number"    />
        <result property="timeRemaining"    column="time_remaining"    />
        <result property="equipmentNumber"    column="equipment_number"    />
        <result property="classifyName"    column="name"    />
        <result property="warehouseStatus"    column="warehouse_status"    />
        <result property="drugStatus"    column="drug_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDrugInfoVo">
        select drug_info.id, drug_number, time_remaining, time_duration, equipment_id, equipment_number, drug_info.classify_id,
        drug_info.warehouse_status, drug_status,name classify, drug_info.create_time, drug_info.update_time from drug_info inner join goods_category on
        goods_category.id=drug_info.classify_id left join equipment_info equipment on drug_info.equipment_id=equipment.id
    </sql>
    <sql id="selectDrugInfo">
        select id, drug_number, time_remaining,merchant_id , warehouse_status, drug_status, create_time, update_time from drug_info
    </sql>

    <sql id="selectDrugInfoCount">
        select count(*) from drug_info
    </sql>

    <select id="selectDrugInfoList" parameterType="com.joolun.mall.vo.DrugInfoVo" resultMap="DrugInfoVoResult">
        <include refid="selectDrugInfoVo"/>
        <where>  
            <if test="drugNumber != null  and drugNumber != ''"> and drug_number = #{drugNumber}</if>
            <if test="warehouseStatus != null "> and drug_info.warehouse_status = #{warehouseStatus}</if>
            <if test="drugStatus != null "> and drug_status = #{drugStatus}</if>
            <if test="createTime != null "> and DATEDIFF(drug_info.create_time,NOW()) = 0</if>
        </where>
    </select>

    <select id="selectDrugInfoListCount" parameterType="com.joolun.mall.vo.DrugInfoVo" resultType="Integer">
        <include refid="selectDrugInfoCount"/>
        <where>
            <if test="drugNumber != null  and drugNumber != ''"> and drug_number = #{drugNumber}</if>
            <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
            <if test="warehouseStatus != null "> and drug_info.warehouse_status = #{warehouseStatus}</if>
            <if test="drugStatus != null "> and drug_status = #{drugStatus}</if>
            <if test="createTime != null "> and DATEDIFF(drug_info.create_time,NOW()) = 0</if>
        </where>
    </select>
    
    <select id="selectDrugInfoById" parameterType="Long" resultMap="DrugInfoResult">
        <include refid="selectDrugInfoVo"/>
        where id = #{id}
    </select>
    <select id="selectDrugInfoOne" parameterType="DrugInfo" resultMap="DrugInfoResult">
        <include refid="selectDrugInfo"/>
        <where>
            <if test="equipmentId != null  and equipmentId != ''"> and equipment_id = #{equipmentId}</if>
            <if test="drugNumber != null  and drugNumber != ''"> and drug_number = #{drugNumber}</if>
            <if test="warehouseStatus != null "> and drug_info.warehouse_status = #{warehouseStatus}</if>
            <if test="drugStatus != null "> and drug_status = #{drugStatus}</if>
        </where>
    </select>

    <select id="selectDrugInfoByState" parameterType="java.lang.String" resultMap="DrugInfoResult">
        <include refid="selectDrugInfo"/>
        <where>
            <if test="drugNumber != null  and drugNumber != ''"> and drug_number = #{drugNumber}</if>
            and time_remaining != 0 and drug_status != 2
        </where>
    </select>
        
    <insert id="insertDrugInfo" parameterType="DrugInfo" useGeneratedKeys="true" keyProperty="id">
        insert into drug_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="drugNumber != null and drugNumber != ''">drug_number,</if>
            <if test="timeRemaining != null">time_remaining,</if>
            <if test="equipmentId != null">equipment_id,</if>
            <if test="classifyId != null">classify_id,</if>
            <if test="warehouseStatus != null">warehouse_status,</if>
            <if test="drugStatus != null">drug_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="drugNumber != null and drugNumber != ''">#{drugNumber},</if>
            <if test="timeRemaining != null">#{timeRemaining},</if>
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="classifyId != null">#{classifyId},</if>
            <if test="warehouseStatus != null">#{warehouseStatus},</if>
            <if test="drugStatus != null">#{drugStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateDrugInfo" parameterType="DrugInfo">
        update drug_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="drugNumber != null and drugNumber != ''">drug_number = #{drugNumber},</if>
            <if test="timeRemaining != null">time_remaining = #{timeRemaining},</if>
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="classifyId != null">classify_id = #{classifyId},</if>
            <if test="warehouseStatus != null">warehouse_status = #{warehouseStatus},</if>
            <if test="drugStatus != null">drug_status = #{drugStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDrugInfoById" parameterType="Long">
        delete from drug_info where id = #{id}
    </delete>

    <delete id="deleteDrugInfoByIds" parameterType="java.lang.String">
        delete from drug_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>