<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joolun.mall.mapper.EquipmentInfoMapper">
    
    <resultMap type="EquipmentInfo" id="EquipmentInfoResult">
        <result property="id"    column="id"    />
        <result property="equipmentNumber"    column="equipment_number"    />
        <result property="iccid"    column="icc_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="hardwareVersion"    column="hardware_version"    />
        <result property="softwareVersion"    column="software_version"    />
        <result property="equipmentStatus"    column="equipment_status"    />
        <result property="warehouseStatus"    column="warehouse_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="deleted"    column="deleted"    />
    </resultMap>

    <sql id="selectEquipmentInfoVo">
        select id, equipment_number, icc_id, hardware_version,merchant_id,software_version, equipment_status, warehouse_status, create_time, update_time, deleted from equipment_info
    </sql>
    <sql id="selectEquipmentInfoCountVo">
        select  count(*)  from equipment_info
    </sql>

    <select id="selectEquipmentInfoList" parameterType="EquipmentInfo" resultMap="EquipmentInfoResult">
        <include refid="selectEquipmentInfoVo"/>
        <where>  
            <if test="equipmentNumber != null  and equipmentNumber != ''"> and equipment_number = #{equipmentNumber}</if>
            <if test="iccid != null  and iccid != ''"> and icc_id = #{iccid}</if>
            <if test="hardwareVersion != null "> and hardware_version = #{hardwareVersion}</if>
            <if test="softwareVersion != null "> and software_version = #{softwareVersion}</if>
            <if test="equipmentStatus != null "> and equipment_status = #{equipmentStatus}</if>
            <if test="warehouseStatus != null "> and warehouse_status = #{warehouseStatus}</if>
            <if test="createTime != null "> and DATEDIFF(create_time,NOW())=0</if>
            and deleted = 0
        </where>
    </select>
    <select id="selectEquipmentInfoListCount" parameterType="EquipmentInfo" resultType="Integer">
        <include refid="selectEquipmentInfoCountVo"/>
        <where>
            <if test="equipmentNumber != null  and equipmentNumber != ''"> and equipment_number = #{equipmentNumber}</if>
            <if test="iccid != null  and iccid != ''"> and icc_id = #{iccid}</if>
            <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
            <if test="hardwareVersion != null "> and hardware_version = #{hardwareVersion}</if>
            <if test="softwareVersion != null "> and software_version = #{softwareVersion}</if>
            <if test="equipmentStatus != null "> and equipment_status = #{equipmentStatus}</if>
            <if test="warehouseStatus != null "> and warehouse_status = #{warehouseStatus}</if>
            <if test="createTime != null "> and DATEDIFF(create_time,NOW())=0</if>
            and deleted = 0
        </where>
    </select>
    <select id="selectEquipmentInfoByEquipmentNumber" parameterType="EquipmentInfo" resultMap="EquipmentInfoResult">
        <include refid="selectEquipmentInfoVo"/>
        <where>
            <if test="equipmentNumber != null  and equipmentNumber != ''"> and equipment_number = #{equipmentNumber}</if>
            and deleted = 0
        </where>
    </select>
    
    <select id="selectEquipmentInfoById" parameterType="Long" resultMap="EquipmentInfoResult">
        <include refid="selectEquipmentInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertEquipmentInfo" parameterType="EquipmentInfo" useGeneratedKeys="true" keyProperty="id">
        insert into equipment_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentNumber != null and equipmentNumber != ''">equipment_number,</if>
            <if test="classifyId != null">classify_id,</if>
            <if test="iccid != null and iccid != ''">icc_id,</if>
            <if test="hardwareVersion != null">hardware_version,</if>
            <if test="softwareVersion != null">software_version,</if>
            <if test="equipmentStatus != null">equipment_status,</if>
            <if test="warehouseStatus != null">warehouse_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deleted != null">deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentNumber != null and equipmentNumber != ''">#{equipmentNumber},</if>
            <if test="classifyId != null and classifyId != ''">#{classifyId},</if>
            <if test="iccid != null and iccid != ''">#{iccid},</if>
            <if test="hardwareVersion != null">#{hardwareVersion},</if>
            <if test="softwareVersion != null">#{softwareVersion},</if>
            <if test="equipmentStatus != null">#{equipmentStatus},</if>
            <if test="warehouseStatus != null">#{warehouseStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deleted != null">#{deleted},</if>
         </trim>
    </insert>

    <update id="updateEquipmentInfo" parameterType="EquipmentInfo">
        update equipment_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentNumber != null and equipmentNumber != ''">equipment_number = #{equipmentNumber},</if>
            <if test="iccid != null and iccid != ''">icc_id = #{iccid},</if>
            <if test="hardwareVersion != null">hardware_version = #{hardwareVersion},</if>
            <if test="softwareVersion != null">software_version = #{softwareVersion},</if>
            <if test="equipmentStatus != null">equipment_status = #{equipmentStatus},</if>
            <if test="warehouseStatus != null">warehouse_status = #{warehouseStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deleted != null">deleted = #{deleted},</if>
        </trim>
        where id = #{id}
    </update>
    <update id="updateStateByEquipmentNumber" parameterType="EquipmentInfo">
        update equipment_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentStatus != null and equipmentStatus != ''">equipment_status = #{equipmentStatus},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where equipment_number = #{equipmentNumber}
    </update>


    <delete id="deleteEquipmentInfoById" parameterType="Long">
        delete from equipment_info where id = #{id}
    </delete>

    <delete id="deleteEquipmentInfoByIds" parameterType="java.lang.String">
        delete from equipment_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>